.bg {
    width: 100vw;
    height: 100vh;
    background: url("/src/assets/bg.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    font-size: 1.2rem;
}

.box {
    max-width: 400px;
    padding: 20px;
    background-color: rgba(13, 110, 253, 0.5);
    border-radius: 10px;
    color: #fff;
}

.btnWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
